In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as matlab

In [2]:
dataset=pd.read_csv("preprocessed_data.csv")
dataset

,transaction_id,transaction_amount,location,merchant,age,gender,fraud_label
0,1,1000.0,New York,ABC Corp,35,M,0
1,2,500.0,Chicago,XYZ Inc,45,F,0
2,3,2000.0,Los Angeles,ABC Corp,28,M,1
3,4,1500.0,San Francisco,XYZ Inc,30,F,0
4,5,800.0,Chicago,ABC Corp,50,F,0
...,...,...,...,...,...,...,...
81,82,1500.0,Los Angeles,XYZ Inc,31,M,0
82,83,2800.0,San Francisco,ABC Corp,50,F,1
83,84,1350.0,Chicago,XYZ Inc,28,M,0
84,85,920.0,New York,ABC Corp,47,F,0
85,86,2000.0,Los Angeles,XYZ Inc,36,M,0

In [3]:
dataset=dataset.drop(['transaction_id'], axis= 1)

In [4]:
dataset

    transaction_amount       location  merchant  age gender  fraud_label
0               1000.0       New York  ABC Corp   35      M            0
1                500.0        Chicago   XYZ Inc   45      F            0
2               2000.0    Los Angeles  ABC Corp   28      M            1
3               1500.0  San Francisco   XYZ Inc   30      F            0
4                800.0        Chicago  ABC Corp   50      F            0
..                 ...            ...       ...  ...    ...          ...
81              1500.0    Los Angeles   XYZ Inc   31      M            0
82              2800.0  San Francisco  ABC Corp   50      F            1
83              1350.0        Chicago   XYZ Inc   28      M            0
84               920.0       New York  ABC Corp   47      F            0
85              2000.0    Los Angeles   XYZ Inc   36      M            0

[86 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,transaction_amount,age,fraud_label,location_Los Angeles,location_New York,location_San Francisco,merchant_XYZ Inc,gender_M
0,1000.0,35,0,0,1,0,0,1
1,500.0,45,0,0,0,0,1,0
2,2000.0,28,1,1,0,0,0,1
3,1500.0,30,0,0,0,1,1,0
4,800.0,50,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
81,1500.0,31,0,1,0,0,1,1
82,2800.0,50,1,0,0,1,0,0
83,1350.0,28,0,0,0,0,1,1
84,920.0,47,0,0,1,0,0,0
85,2000.0,36,0,1,0,0,1,1

In [6]:
dataset.columns

Index(['transaction_amount', 'age', 'fraud_label', 'location_Los Angeles',
       'location_New York', 'location_San Francisco', 'merchant_XYZ Inc',
       'gender_M'],
      dtype='object')

In [7]:
dataset["fraud_label"].value_counts()

0    70
1    16
Name: fraud_label, dtype: int64

In [8]:
independent=dataset.drop(['fraud_label'], axis= 1)

In [9]:
independent

,transaction_amount,age,location_Los Angeles,location_New York,location_San Francisco,merchant_XYZ Inc,gender_M
0,1000.0,35,0,1,0,0,1
1,500.0,45,0,0,0,1,0
2,2000.0,28,1,0,0,0,1
3,1500.0,30,0,0,1,1,0
4,800.0,50,0,0,0,0,0
...,...,...,...,...,...,...,...
81,1500.0,31,1,0,0,1,1
82,2800.0,50,0,0,1,0,0
83,1350.0,28,0,0,0,1,1
84,920.0,47,0,1,0,0,0
85,2000.0,36,1,0,0,1,1

In [10]:
dependent=dataset[["fraud_label"]]
dependent

    fraud_label
0             0
1             0
2             1
3             0
4             0
..          ...
81            0
82            1
83            0
84            0
85            0

[86 rows x 1 columns]

In [11]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_= sc.fit_transform(X_train)
X_test_= sc.transform(X_test)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
from sklearn.model_selection import GridSearchCV

param_grid = {'solver':['newton-cg', 'lbfgs', 'liblinear', 'saga'],
             'penalty':['l2']} 



grid = GridSearchCV(LogisticRegression(), param_grid, refit = True, verbose = 3,n_jobs=1,scoring='f1_weighted') 
grid.fit(X_train, Y_train)

C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

Fitting 3 folds for each of 4 candidates, totalling 12 fits
[CV] penalty=l2, solver=newton-cg ....................................
[CV] ........ penalty=l2, solver=newton-cg, score=0.943, total=   0.5s
[CV] penalty=l2, solver=newton-cg ....................................
[CV] ........ penalty=l2, solver=newton-cg, score=1.000, total=   0.2s
[CV] penalty=l2, solver=newton-cg ....................................

C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\optimize.py:203: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  "number of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

[CV] ........ penalty=l2, solver=newton-cg, score=0.895, total=   0.3s
[CV] penalty=l2, solver=lbfgs ........................................

C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] ............ penalty=l2, solver=lbfgs, score=0.943, total=   0.6s
[CV] penalty=l2, solver=lbfgs ........................................
[CV] ............ penalty=l2, solver=lbfgs, score=1.000, total=   0.1s
[CV] penalty=l2, solver=lbfgs ........................................
[CV] ............ penalty=l2, solver=lbfgs, score=0.895, total=   0.1s
[CV] penalty=l2, solver=liblinear ....................................
[CV] ........ penalty=l2, solver=liblinear, score=1.000, total=   0.1s
[CV] penalty=l2, solver=liblinear ....................................
[CV] ........ penalty=l2, solver=liblinear, score=1.000, total=   0.0s
[CV] penalty=l2, solver=liblinear ....................................
[CV] ........ penalty=l2, solver=liblinear, score=0.829, total=   0.0s
[CV] penalty=l2, solver=saga .........................................
[CV] ............. penalty=l2, solver=saga, score=0.770, total=   0.1s
[CV] penalty=l2, solver=saga .........................................

C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\sag.py:337: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\sag.py:337: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

[CV] ............. penalty=l2, solver=saga, score=0.770, total=   0.0s
[CV] penalty=l2, solver=saga .........................................
[CV] ............. penalty=l2, solver=saga, score=0.770, total=   0.1s

C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\sag.py:337: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='warn',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='warn',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='warn', n_jobs=1,
             param_grid={'penalty': ['l2'],
                         'solver': ['newton-cg', 'lbfgs', 'liblinear', 'saga']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=3)

In [15]:
re=grid.cv_results_
grid_predictions = grid.predict(X_test_) 
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, grid_predictions)

In [16]:
from sklearn.metrics import classification_report
clf_report = classification_report(Y_test, grid_predictions)

C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [17]:
print(grid.best_params_)

{'penalty': 'l2', 'solver': 'newton-cg'}

In [18]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_penalty,param_solver,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.328744,0.143895,0.004001,0.000819,l2,newton-cg,"{'penalty': 'l2', 'solver': 'newton-cg'}",0.942903,1.000000,0.894737,0.945880,4.302504e-02,1
1,0.235289,0.242810,0.004000,0.000001,l2,lbfgs,"{'penalty': 'l2', 'solver': 'lbfgs'}",0.942903,1.000000,0.894737,0.945880,4.302504e-02,1
2,0.032465,0.028306,0.005333,0.000471,l2,liblinear,"{'penalty': 'l2', 'solver': 'liblinear'}",1.000000,1.000000,0.828708,0.942903,8.074776e-02,3
3,0.031665,0.025036,0.038334,0.013523,l2,saga,"{'penalty': 'l2', 'solver': 'saga'}",0.769925,0.769925,0.769925,0.769925,1.110223e-16,4

In [19]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'penalty': 'l2', 'solver': 'newton-cg'}: 0.6544962812711291

C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [20]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[22  0]
 [ 7  0]]

In [21]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.76      1.00      0.86        22
           1       0.00      0.00      0.00         7

    accuracy                           0.76        29
   macro avg       0.38      0.50      0.43        29
weighted avg       0.58      0.76      0.65        29

In [22]:
from sklearn.metrics import roc_auc_score

roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.987012987012987